<!DOCTYPE html>
<html>
<head prefix="og: http://ogp.me/ns#">
  <!-- Base meta data -->
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
  <title>@ViewData["Title"]</title>
  <!-- Sharing meta data -->
  <meta name="title" content="@ViewData["Title"]" />
  <meta name="image" content="https://image.flaticon.com/icons/png/128/25/25314.png" />
  <meta name="description" content="Sistemas de Soporte de Desiciones - Proyecto del curso" />
  <!-- Open Graph Data -->
  <meta property="og:title" content="@ViewData["Title"]" />
  <meta property="og:image" content="https://image.flaticon.com/icons/png/128/25/25314.png" />
  <meta property="og:description" content="Sistemas de Soporte de Desiciones - Proyecto del curso" />

  <!-- Google Charts -->
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <script type="text/javascript">
    var googleChartsLoaded = false;
    google.charts.load('current', { 'packages': ['corechart'] });
    google.charts.setOnLoadCallback(function () { 
      googleChartsLoaded = true;
    });
  </script>

  <environment include="Development">
    <!-- Bootstrap -->
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <!-- Font awesome -->
    <link href="~/lib/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <!-- SweetAlert2 -->
    <link href="~/lib/sweetalert2/dist/sweetalert2.css" rel="stylesheet" />
    <!-- Site -->
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
  </environment>
  <environment exclude="Development">
    <!-- Bootstrap -->
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <!-- Font awesome -->
    <link href="~/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <!-- SweetAlert2 -->
    <link href="~/lib/sweetalert2/dist/sweetalert2.min.css" rel="stylesheet" />
    <!-- Site -->
    <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
  </environment>
</head>
<body>
  <!-- Page content -->
  @RenderBody()
  <!-- /.page-content -->
  
  <environment include="Development">
    <!-- JQuery -->
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <!-- Bootstrap -->
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <!-- SweetAlert2 -->
    <script src="~/lib/sweetalert2/dist/sweetalert2.js"></script>
    <!-- Mustache -->
    <script src="~/lib/mustache.js/mustache.js"></script>
    <!-- Site -->
    <script src="~/js/site.js" asp-append-version="true"></script>
  </environment>
  <environment exclude="Development">
    <!-- JQuery -->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap -->
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- SweetAlert2 -->
    <script src="~/lib/sweetalert2/dist/sweetalert2.min.js"></script>
    <!-- Mustache -->
    <script src="~/lib/mustache.js/mustache.min.js"></script>
    <!-- Site -->
    <script src="~/js/site.min.js" asp-append-version="true"></script>
  </environment>

  @RenderSection("Scripts", required: false)
</body>
</html>
